

body{
    margin: 0;
    /*overflow: hidden;*/
    /*height: 30000px;*/
    /*background-image: url("/images/new/bg.jpg");*/
    /*background-repeat: repeat;*/
    /*background-image: url("/static/shop/media/bg.jpg");*/
    /*background-repeat: no-repeat;*/
    /*height: 700px;*/
    /*background-size: cover;*/
    background-color: #191B1F;
}

.container{
    /*margin: 0 100px;*/
    max-width: 1700px;
    margin: 0 auto;
}

.header{
    /*background-size: cover;*/
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    backdrop-filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    /*height: 10vh;*/
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*height: 80px;*/
    /*height: 100%;*/
    height: 10vh;
    /*backdrop-filter: blur(5px);*/
}

.header_block{
    width: 33%;
    /*box-sizing: border-box;*/
}


.header_block:last-child{
    /*width: 15%;*/
    text-align: right;

}

/*.logo{*/
/*    width: 28%;*/
/*    !*height: 95%;*!*/
/*}*/

.nav{
    display: flex;
    justify-content: center;
}

.nav_link{
    margin-right: 35px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.nav_link:after{
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity .2s ease;
}

.nav_link:hover:after{
    opacity: 1;
    transition: opacity .2s ease;
}

.nav_link:last-child
{
    margin-right: 0;
}

.register{
    display: flex;
    justify-content: end;
    align-items: center;
    /*width: 100%;*/
}


.register_link {
    position: relative;
    display: flex;
    /*width: 100%;*/
    height: 50px;
    justify-content: end;
    align-items: center;

    /*justify-content: end;*/

    /*display: inline-block;*/
    /*padding: 15px 30px;*/


    /*color: #2196f3;*/
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    transition: 0.2s;
    border-bottom: 2px solid dodgerblue;
}

/*.register_link:after{*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background-color: dodgerblue;*/

/*    position: absolute;*/
/*    top: 98%;*/
/*    left: 0;*/
/*    content: '';*/
/*    opacity: 1;*/
/*    transition: opacity .2s ease;*/
/*}*/

.register_link:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: .05s;
}

.menu_block{
    display: none;
}

@media screen and (max-width: 700px){

    .nav_block{
        display: none;
    }

    .register_block{
        display: none;
    }

    .header_block{
        width: 50%;
    }

    .menu_block{
        display: flex;
        justify-content: end;
    }

    .test{
        /*background-color: darkgreen;*/
        /*height: 100%;*/
        /*width: 100%;*/
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    /*.header{*/
    /*    height: 15vh;*/
    /*}*/

    #check{
        display: none;
    }

    .menu_label{
        display: flex;
        justify-content: end;
        align-items: center;
        /*position: absolute;*/
        /*width: 100%;*/
        /*height: 100%;*/
        cursor: pointer;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .menu_block{
        height: 100%;
    }

    .burger-line{
        display: flex;
        /*position: absolute;*/
        /*top: 10px;*/
        right: 10px;
        width: 50px;
        height: 4px;
        border-radius: 10px;
        background-color: #2196f3;
        transition: 0.5s all;
        /*transform-origin: 0 0;*/
        z-index: 0;
    }

    .first{
        transform-origin: 0% 0%;
        /*top: calc(100% / 100 * 35);*/
    }

    .second{
        transform-origin: 0% 0%;
        /*top: 50px;*/
        /*align-items: center;*/
        margin-top: 10px;
        margin-bottom: 10px;
        /*top: calc(100% / 100 * 50);*/
    }

    .third{
        /*top: 30px;*/
        transform-origin: 0% 100%;
        /*top: calc(100% / 100 * 65);*/
    }

    .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        /*max-height: 0;*/
        /*font-size: 0;*/
        /*overflow: hidden;*/
        opacity: 0;
        transition: .5s all;
    }

    .burger_link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
        height: 35px;
        color: black;
        text-decoration: none;
        border-top: 1px solid rgba(255,255,255, .3);
        background-color: #2196f3;
    }

    #check:checked ~ .first{
        transform: rotate(45deg);
        background-color: green;
    }


    #check:checked ~ .menu{
        opacity: 1;
    }


    #check:checked ~ .second{
        display: none;
    }



}

/*Header end*/

/*Intro start*/

.intro{
    /*background-image: url("/images/new/AI.png");*/
    /*background-repeat: repeat;*/
    height: 50vh;
    background-size: cover;
    margin: 0 0;
}


.intro_content {
    /*z-index: 2;*/
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: center;
    /*height: 100vp;*/
}

/*Intro end*/

/*Info start*/

.info_wrapper{
    display: flex;

    width: 33.33%;
}

.info_block{
    display: block;
    color: black;
    /*background: black;*/
    backdrop-filter: blur(8px);

    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 20px;

}

.info_item{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.info_image{

}

.info_text{

}
